.matricule-container {


  .liste-mat {
    padding: 1em;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    align-items: start;
    overflow: auto;

    border-radius: 8px;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.27);


    .background-matricule {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
      background: rgba(0, 0, 0, 0.27);

      border: 1px solid rgba(255, 255, 255, 0.17);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all ease-in-out 0.3s;

      span.matricule {
        font-family: Consolas, sans-serif;
        //text-shadow: #121212 0px 3px 3px 4px;
      }

      &:hover {
        transform: scale(1.1);
        background: linear-gradient(45deg, rgba(8, 26, 84, 0.80), rgba(84, 8, 60, 0.80));
        transition: all ease-in-out 0.3s;

      }

      &.active {
        transform: scale(1.1);
        background: linear-gradient(45deg, rgba(8, 26, 84, 0.90), rgba(84, 8, 60, 0.90));
        transition: all ease-in-out 0.3s;
      }

      &:hover > span.matricule {
        transform: scale(1.2);
      }

    }

  }

  .form-update {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .btn {
      @include btn-base;
      width: 100px;
    }

  }


}